/* .bg-body-tertiary  {
background-color: black;
color: black;
} */
div#offcanvasNavbar-expand-lg {
  max-width: 65%;
}
.contact{
  background-color:#FFEEF4 ;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: #4CCD99;
}
.btn-outline-success{
  /* margin-top: 10px; */
}
.dropdown-menu.show{
  margin-bottom: 10px;
}
.bouncing-balls-container {
  /* position: relative; */
  width: 100%;
  /* Adjust container size as needed */
  height: 100%;
  /* Adjust container size as needed */
  border: 1px solid #000;
  z-index: 1;
  position: absolute;
  margin-left: auto;
  right: 0;
}

.ball {
  position: absolute;
}
.container {
  display: flex;
  /* Set container as flexbox */
}

.box {
  flex: 1;
  /* Equal distribution of space among flex items */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}
.ContactPage{
      z-index: -1;
        height: 100vh;
        top: 10%;
        position: absolute;
        width: 100%;
        /* background-color: #1F4172;
  position: absolute; */
  background-color: #116D6E;
  /* min-height: 100vh; */
  /* margin-top: 10px; */
  justify-content: center;
}
.containerr {
  display: flex;
  max-height: 30px;
  background-color: #860A35;
  border-top: 40px;
  /* margin:  0px 10px; */
  max-width: 1000px;
    border-top-left-radius: 10px;
      /* Rounded corners for the top left */
      border-top-right-radius: 10px;
}
.c-slide{

}
.left-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.red {
  background-color: #B80000;
}

.yellow {
  background-color: #FF9800;
}

.green {
  background-color: #527853;
}

.middle-bar {
  flex: 1;
  /* margin-left: 20px;
  margin-right: 40px;
    margin-top: 7px; */
    margin: 7px auto 0px auto;
  max-height: 15px;
  border-radius: 10px;
  background-color: #FFEBD8;
  max-width: 60%;
}

.right-bar {
  display: flex;
  justify-content: right;
margin-left: auto;  /* padding: 10px; */
  /* margin-bottom: 30px;
  padding-bottom: 30px; */
}

.block {
  /* right: 10%; */
  width: 30px;
  border-radius: 2px;
  height: 20px;
  background-color: #FFEBD8;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 10px;
  /* margin-bottom: 40px;
  padding-bottom: 10px; */
}
.footer {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; */
  background-color: black;
  color: white;
  padding: 20px;
  /* margin-top: 25px; */
}

.footer-page {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.footer-page p {
  padding-top: 10px;
}

.footer-icon {
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: 10px;
}

.footer-block {
  margin-bottom: 10px;
  padding: 0px 10px;
}

.footer-block a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.footer-block a:hover {
  color: #2E8A99;
}
.form{
  min-width: 100px;
  margin: auto;
  padding-bottom: 100px;
}
.webar a {
  color: #3085C3;
}
.grid-container {
  max-width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Adjust minmax values to your preference */
  gap: 39px;
  /* Adjust gap between items */
}
.grid-container img{
  border-radius: 0px;
}
.grid-item {
  margin-bottom: 10px;
  /* background-color: white; */
  /* height: 900px; */
  /* padding: 20px; */
  border-radius: 5px;
  margin: a;
}
.header{
  position: sticky;
    top: 0;
      width: 100%;
      animation: slideDown 0.5s ease;
      z-index: 100;
      
      /* background-color: black; */
}

.header .bg{
  background-color: black;
  color: white;
  padding: 15px 30px;
}
/* @media (max-width: 600px) {
  .header .bg-body-tertiary {
    padding-left: 0;
    padding-right: 0;
  }
    .home-page h1 {
      font-size: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
} */
.home-page{
  /* background-color: black; */
  min-height: 100vh;
  color: black;
  
  /* padding: 10px; */
  /* max-width: 800px; */
  margin: auto;
  overflow-y: auto;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.home-page h1{
  color: white;
  font-size: 400%;
  padding-left: 5%;
  padding-right: 5px;
  padding-top: 5%;
  z-index: 10;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-page h2{
  color: wheat;
  padding-left: 5%;
}
@media (max-width: 600px) {
  .header .bg {
    padding-left: 0;
    padding-right: 0;
  }

  .home-page h1 {
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
.home-page a{
  text-decoration: none;
}
#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 700px; */
  height: 100%;
  object-fit: cover;
  z-index: -10;
    background-color: rgba(11, 11, 11, 0.3);
  /* Ensure the video stays behind other content */
}
.video-container{
      background-color: rgba(173, 88, 88, 0.3);
}
.photo-scroller {
  max-width: 1000px;
  /* Adjust width as needed */
  height: 400px;
  /* Adjust height as needed */
  overflow-y: scroll;
  /* Vertical scrolling */
}

.photo-container {
  display: flex;
  flex-direction: column;
  /* Stack images vertically */
}

.photo-container img {
  max-width: 1000px;
  /* Adjust image width as needed */
  height: auto;
  /* Adjust image height as needed */
  margin-bottom: 10px;
  /* Adjust margin between photos as needed */
}
.scroll{
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}
.slide1{
  z-index: -1;
  height: 90vh;
  top: 9%;
  position: absolute;
  width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.slide1 h4{
  margin: 30px 5% ;
  color: #EEEEEE;
}
/*  */
.t-slide1 h1{
  z-index: 60;
    color: black;
      font-size: 100%;
}
.t-slide1 span{
  color: #15F5BA;
}
.t-slide2 {
  margin-top: 540px;
  /* min-height: 200vh; */
  background-color: #EEEDEB;
  padding: 40px 0px;
}
.slide2{
  margin-top: 600px;
  /* min-height: 200vh; */
  background-color:#EEEDEB;
  padding-bottom:  40px ;
  text-align: center;
}
.slide2 h1{
  color: black;
  font-size: 300%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-right: 5%;
}
.slide2 span{
  color: #46C2CB;
  font-size: 140%;
}
.slide2 h2{
  /* max-width: 600px;
  margin: auto; */
  font-size: 300%;
  color: #9B4444;
  font-family:'Times New Roman', Times, serif ;
  padding-right: 5%;
}

.slide2 h4{
  max-width: 960px;
  margin: auto;
  padding: 50px 10px;
  /* padding-top: 50px; */
  text-align: center;


}
.home4{
  max-width: 400px;
}
.t-slide3{
    padding: 10px;
      padding-top: 40px;
      background-color: #FAF0E6;
      padding-bottom: 40px;
}
.slide3{
  padding: 10px;
  padding-top: 40px;
  background-color: #FAF0E6;
  padding-bottom: 40px;

}
.slide3 div.carousel{
  max-width: 800px;
  margin: auto;
}
.slide3 img{
   width: 100%;
   min-height: 400px;
   /* position: absolute; */
   margin: auto;
   border-radius: 40px;
   /* object-fit:cover; */

}
.slide3 div.carousel-caption{
  position: absolute;
  bottom: 0;
  color: #000;
padding-top: 30px; 
 /* padding-left: 100px; */
  /* padding-bottom: 100px; */
}
.slide3 h1{
    color: black;
      font-size: 300%;
      max-width: 960px;
      margin: auto;
}
.slide3 .carousel-indicators [data-bs-target] {
  background-color: #B6FFFA;
}
.slide3 span{
  max-width: 100px;
  margin: auto;
  justify-content: center;

}
.grid-container img {
  border-radius: 0px;
  /* max-height: 10px; */
  height: auto;
}
.t-slide4{
  background-color: #B5C0D0;
    padding: 40px 0px;
}
.template-page{
    text-align: center;
}
.template-page h1 {
  padding-right: 5%;
  color: #293462;
   font-size: 200%;
  padding-left: 5%;
  /* padding-right: 5px; */
  padding-top: 5%;
  z-index: 10;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.template-page span{
    font-size: 200%;
}
.t-slide1 {
  text-align: left;
  z-index: -1;
  height: 80vh;
  top: 9%;
  position: absolute;
  width: 100%;
  background-color: #1F4172;
}
.t-slide1 h1 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 400%;
}
.t-slide1 span{
  font-size: 100%;
}
.t-slide1 form{
  /* margin: auto; */
  /* padding-left: 100px; */
  max-width: 1000px;
  margin-left: 15%;
}
.c-slide1 {
  text-align: center;
  /* z-index: -1; */
  height: 110%;
  top: 9%;
  position: absolute;
  width: 100%;
  background-color: #891652;
  justify-content: center;
  margin: auto;
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      /* Responsive columns */
      gap: 20px;
      /* Spacing between items */
}

.c-slide1 h1 {
  color: white;
  padding-top: 160px ;
  font-size: 400%;
  min-height: 6px;
}

.c-slide1 span {
  font-size: 100%;
  color: #15F5BA;
}

.c-slide1 form {
  /* margin: auto; */
  /* padding-left: 100px; */
  width: 10px;
  /* background-color: #000; */
  /* margin-left: 100%; */
}
.c-slide4 {
  position: relative;
  background-color: #FFEEF4;
  text-align: center;
  padding-bottom: 40px;
  margin-top: 100vh;
  z-index: 3;
}

.c-slide4 h1 {
  color: #293462;
  font-size: 300%;
  max-width: 1060px;
  margin: auto;
  padding-right: 5%;
}

.c-slide4 span {
  color: #000;
  font-size: 20px;
}

.c-slide4 div.Button {
  background-color: #000;
}
.slide4{
  background-color: #FFEEF4;
  text-align: center;
  padding-bottom: 40px;
}
.slide4 h1{
  color: #293462;
        font-size: 300%;
          max-width: 1060px;
          margin: auto;
          padding-right: 5%;
}
.slide4 span{
  color: #000;
  font-size: 20px;
}
.slide4 div.Button{
  background-color: #000;
}
.t-slide5{
  background-color: #A3C9AA;
  padding: 40px 0px;
}
/* .template-page h1{
      color: white;
      font-size: 400%;
      padding-left: 5%;
      padding-right: 5px;
      padding-top: 5%;
      z-index: 10;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
.toggleitems{
  padding: 9px;
}
.you{
  color: #116D6E;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.youu {
  /* margin-right: 20px; */
  animation-name: changeWord;
  animation-duration: 1s;
    font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
}
.your {
  color: #116D6E;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  justify-content: center;
          max-width: 1060px;
            margin: auto;
}
.slide3 span {
  width: 100px;
  margin: auto;
  justify-content: center;
  text-align: center;

}
.a-slide3{
  text-align: center;
    padding: 10px;
      padding-top: 40px;
      background-color: #FAF0E6;
      padding-bottom: 40px;
      margin: auto;

}
.a-slide3 span{
        padding-right: 5%;
}
.a-slide3 img{
  max-width: 400px;
}
div#offcanvasNavbar-expand-0 {
  max-width: 65%;
}

@keyframes changeWord {
  0% {
    opacity: 1;
    /* color: #860A35; */
    color: #FF407D;
  }

  /* 50% {
    opacity: 0;
    color: #A3C9AA;
  } */

  /* 100% {
    opacity: 1;
    color: #B80000;
  } */
}
@media (max-width: 740px) {
    .c-slide1 h1 {
        font-size: 300%;
        padding-top: 10px;
      }
}
@media (max-width: 600px) {
  .header .bg {
    padding-left: 0;
    padding-right: 0;
  }
  .t-slide1 h1{
        font-size: 250%;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .c-slide1 h1{
    font-family: 20%;
    padding-top: 10px;
  }
  .template-page span{
    font-size: 150%;
  }
        .c-slide1 span {
          font-family: 10%;
        }
    .slide4 span {
      font-size: 50%;
    }
  .home-page h1 {
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
                .c-slide1 span {
                  font-size: 80%;
                }
                                        .c-slide4 span {
                                          font-size: 40%;
                                        }
}
@media (max-width: 450px) {


  .home-page h1 {
    font-size: 250%;
    padding-top: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .slide3 h1{
    font-size: 200%;
  }

        .template-page span {
          font-size: 100%;
        }
        .slide4 h1{
          font-size: 250%;
        }
                        .slide4 span {
                          font-size: 50%;
                        }
                        .c-slide4{
                            margin-top: 97vh;
                        }
                .c-slide4 h1 {
                  font-size: 250%;
                }
        
                .c-slide4 span {
                  font-size: 50%;
                }
  .c-slide1{
    font-size: 60%;
    padding-right: 0%;
  }       
        .c-slide1 h1 {
         padding-top: 50px;
         font-size: 400%;
        }
.grid-container{
  margin: 0% 5%;
}
/* .youi span{
  font-size: 10%;
} */
}
